
main {

    display: flex;
    justify-content: center;
}

.m-container {

    background-color: #000000;
    margin-top: 31px;
    margin-bottom: 31px;
    padding: 13px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-top h1 {
    text-align: center;
    font-size: 3em;
}

.m-form {
    width: 50%;
    margin: auto;
}