
.m-container {

    background-color: #BFBEBE;
    color: #000000;
    margin: 31px 5% 31px 5%;
    padding: 22px;
}

.m-title {

    justify-content: center;
    margin: auto 0% auto 0%;
    padding: 13px;
}

.m-title h1 { 
    
    margin: 0%;
    text-align: center;
    font-size: 3.5em;
}

.m-info {

    display: flex;
    flex-direction: row;
}

.m-info p {

    margin: 13px;
    text-align: justify;
}

.m-info img {

    max-width: 50%;
    width: 40%;
    margin: 13px;
}

@media (max-width: 1200px) {

    .m-title h1 { font-size: 2.6em; }

    .m-info p { font-size: 0.8em; }
}

@media (max-width: 992px) {

    .m-title { padding: 8px; }

    .m-title h1 { font-size: 2.4em; }

    .m-info p {
        font-size: 0.7em;
        margin: 8px 13px 8px 8px;
    }

    .m-info img {
        width: 35%;
        margin: 8px 8px 8px 13px;
    }
}

@media (max-width: 768px) {

    .m-container { padding: 13px; }

    .m-title { padding: 7px; }

    .m-title h1 { font-size: 2.2em; }

    .m-info p { font-size: 0.5em; }

    .m-info img { width: 30%; }
}

@media (max-width: 576px) {

    .m-container { padding: 6px; }

    .m-title { padding: 3px; }

    .m-title h1 { font-size: 1.8em; }

    .m-info p { 
        font-size: 10px;
        margin: 8px; 
    }

    .m-info img { display: none; }
}