.m-container {

    margin: 31px 5% 31px 5%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
}

.m-info {

    margin-bottom: 22px;
}

.m-info-title {

    padding: 0px 0px 22px 0px;
}

.m-info-title h1 {

    margin: 0%;
    font-size: 2.8em;
}

.m-info-description p {

    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}

.m-gallery {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
}

.m-gal-sub1 { width: 50%; }

.m-gal-sub1 img { max-height: 29rem; }

.m-gal-sub2 { 
    
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-sub2-row1 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-sub2-row2 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-gallery img {
    filter: brightness(70%);
}

.m-gallery img:hover {
    filter: brightness(100%);
}

.img1-1 {
    width: 100%;
    object-fit: cover;
}

.img1-2, .img1-3, .img1-4, .img1-5 {

    width: 48%;
    max-height: 14rem;
    object-fit: cover;
}

@media (max-width: 1024px) {
    
    .img1-2, .img1-3, .img1-4, .img1-5 {

        max-height: 10rem;
    }
}

@media (max-width: 992px) {

    .m-gallery {
        flex-direction: column;
    }

    .m-gal-sub1, .m-gal-sub2 {
        width: 100%;
    }

    .m-gal-sub1, .m-sub2-row1 {
        margin-bottom: 13px;
    }
}

@media (max-width: 576px) {

    .m-info-title h1 { font-size: 1.8em; }

    .m-sub2-row1, .m-sub2-row2 {
        flex-direction: column;
    }

    .img1-2, .img1-3, .img1-4, .img1-5 {
        width: 100%;
    }

    .img1-2, .img1-4 {
        margin-bottom: 13px;
    }
}