.m-container {

    margin: 31px 5% 31px 5%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
}

.m-info {

    margin-bottom: 22px;
}

.m-info-title {

    padding: 0px 0px 22px 0px;
}

.m-info-title h1 {

    margin: 0%;
    font-size: 2.8em;
}

.m-info-description p {

    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}

.m-gallery {

    display: flex;
    flex-direction: column;
}

.m-gallery img {
    filter: brightness(70%);
}

.m-gallery img:hover {
    filter: brightness(100%);
}

.row1, .row2 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
}

.img4-1 {
    width: 25%;
    height: 300px;
    object-fit: cover;
}

.img4-2, .img4-3, .img4-4 {
    width: 35%;
    height: 300px;
    object-fit: cover;
}

.img4-5, .img4-6, .img4-7 {
    width: 20%;
    height: 300px;
    object-fit: cover;
}


@media (max-width: 1200px) {

    .img4-1, .img4-2, .img4-3, .img4-4, .img4-5, .img4-6, .img4-7 {
        height: 250px;
    }
}

@media (max-width: 992px) {

    .img4-1, .img4-2, .img4-3, .img4-4, .img4-5, .img4-6, .img4-7 {
        height: 230px;
    }
}

@media (max-width: 768px) {

    .img4-1, .img4-2, .img4-3, .img4-4, .img4-5, .img4-6, .img4-7 {
        height: 190px;
    }
}

@media (max-width: 576px) {

    .m-info-title h1 { font-size: 1.8em; }

    .row1, .row2 {

        flex-direction: column;
    }

    .img4-1, .img4-2, .img4-3, .img4-4, .img4-5, .img4-6, .img4-7 {
        width: 100%;
        height: auto;
        margin-bottom: 6px;
    }
}

@media (max-width: 480px) {}