
.m-container {

    margin: 31px 5% 31px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 1em;
    grid-auto-rows: auto;
    justify-items: stretch;
    align-items: stretch;
}

.m-album {
    background-color: #000000;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-album-snippet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.m-album-snippet h3 {
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    font-size: 1.2em;
    text-align: center;
}

.m-album-snippet a {
    margin-right: auto;
    margin-left: auto;
    background-color: #F5DCB2;
    color: #000000;
    padding: 3px 9px 3px 9px;
    border-radius: 5px;
}

.m-album-snippet a:hover {
    background-color: #b69a6a;
    color: #FFF;
    text-decoration: none;
}

.m-album img { width: 50%; }

.album7 {
    grid-column-start: 2;
    grid-row-start: 3;
}

@media (max-width: 1200px) {

    .m-album-snippet h3 { font-size: 0.8em; }

    .m-album-snippet a {
        font-size: 0.6em;
        padding: 3px 6px 3px 6px;
        border-radius: 5px;
    }
}

@media (max-width: 992px) {

    .m-container { margin: 22px 5% 22px 5%; }
}

@media (max-width: 768px) {

    .m-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 7.5%;
    }

    .album7 {
        grid-column-start: auto;
        grid-row-start: auto;
    }
}

@media (max-width: 576px) {

    .m-container {
        margin: 1em 5% 1em 5%;
        grid-template-columns: 1fr;
    }

    .m-album-snippet h3 { font-size: 0.9em; }

    .m-album-snippet a {
        font-size: 0.8em;
        padding: 3px 9px 3px 9px;
        border-radius: 7px;
    }
}