.m-container {

    margin: 31px 5% 31px 5%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
}

.m-info {

    margin-bottom: 22px;
}

.m-info-title {

    padding: 0px 0px 22px 0px;
}

.m-info-title h1 {

    margin: 0%;
    font-size: 2.8em;
}

.m-info-description p {

    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}

.m-gallery {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}

.m-gallery img {
    filter: brightness(70%);
}

.m-gallery img:hover {
    filter: brightness(100%);
}

.m-gal-sub1, .m-gal-sub2 { 
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-gal-sub1 {
    margin-bottom: 22px;
}

.img7-1, .img7-4 {

    width: 18%;
    object-fit: cover;
}

.img7-2, .img7-3 {

    width: 29%;
    object-fit: cover;
}

.img7-5, .img7-6, .img7-7, .img7-8 {
    width: 23%;
    object-fit: cover;
}

@media (max-width: 992px) {

    .m-gal-sub1 {
        margin-bottom: 13px;
    }
}

@media (max-width: 768px) {

    .m-gal-sub1 {
        margin-bottom: 8px;
    }
}

@media (max-width: 576px) {

    .m-info-title h1 { font-size: 1.8em; }

    .m-gal-sub1, .m-gal-sub2 {
        flex-direction: column;
    }

    .m-gallery img {
        width: 100%;
    }

    .img7-1, .img7-2, .img7-3, .img7-5, .img7-6, .img7-7 {
        margin-bottom: 8px;
    }
}