.m-container {

    margin: 31px 5% 31px 5%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
}

.m-info {
    margin-bottom: 22px;
}

.m-info-title {

    padding: 0px 0px 22px 0px;
}

.m-info-title h1 {

    margin: 0%;
    font-size: 2.8em;
}

.m-gallery {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}

.m-gallery img {
    filter: brightness(70%);
}

.m-gallery img:hover {
    filter: brightness(100%);
}

.m-gal-sub1, .m-gal-sub3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.m-gal-sub2, .m-gal-sub4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-gal-sub1, .m-gal-sub2, .m-gal-sub3 {
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: solid;
    border-bottom-color: #383838;
    border-bottom-width: 2px;
}

.m-gal-sub4 img {
    width: 100%;
}

.m-sub-description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.m-sub-description h3 {
    margin-top: auto;
}

.m-sub-description p {
    margin-bottom: auto;
}

.desc3 p {
    font-size: 0.7em;
}

.m-sub-img-bef {
    width: 44%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-sub-img-aft {
    width: 53%;
}

.m-sub-img {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img3-1 {
    width: 60%;
    object-fit: cover;
}
.img3-2 {
    width: 35%;
    object-fit: cover;
}

.img3-3 {
    width: 60%;
    object-fit: cover;
}
.img3-4 {
    width: 35%;
    object-fit: cover;
}

.img3-5, .img3-6 {
    width: 48%;
    object-fit: cover;
}

.img3-7, .img3-8, .img3-9 {
    width: 23%;
    object-fit: cover;
}



@media (max-width: 1200px) {

    .m-sub-description p {
        font-size: 0.8em;
    }

    .desc3 p {
        font-size: 0.5em;
    }
}

@media (max-width: 992px) {

    .m-sub-description h3 {
        font-size: 1.6em;
    }
}

@media (max-width: 768px) {

    .m-info {
        margin-bottom: 0px;
    }

    .m-gal-sub1, .m-gal-sub2, .m-gal-sub3 {
        flex-direction: column;
        margin-bottom: 32px;
    }

    .m-gal-sub4 {
        flex-direction: column;
    }

    .m-sub-description {
        width: 100%;
        margin-bottom: 13px;
    }

    .desc3 p {
        font-size: 0.8em;
    }

    .m-sub-img {
        width: 100%;
    }
}

@media (max-width: 576px) {

    .m-info-title h1 {
        font-size: 2.4em;
    }

    .m-gal-sub1, .m-gal-sub2, .m-gal-sub3 {
        margin-bottom: 32px;
    }

    .m-sub-img {
        flex-direction: column;
    }

    .m-sub-img img {
        width: 100%;
    }

    .img3-1, .img3-3, .img3-5, .img3-7, .img3-8 {
        margin-bottom: 13px;
    }

    .m-sub-img-bef {
        width: 100%;
    }
    
    .m-sub-img-aft {
        width: 100%;
    }
}

@media (max-width: 360px) {

    .m-sub-description h3 {
        font-size: 1.3rem;
    }
}