.m-container {
    margin: 31px 5% 31px 5%;
    padding: 13px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
}

.m-info {
    margin-bottom: 22px;
}

.m-info-title {
    padding: 0px 0px 22px 0px;
}

.m-info-title h1 {
    margin: 0%;
    font-size: 2.8em;
}

.m-info-description p {
    text-align: justify;
    margin-left: 8px;
    margin-right: 8px;
}

.m-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}

.m-gallery img {
    filter: brightness(70%);
}

.m-gallery img:hover {
    filter: brightness(100%);
}

.m-gal-row1, .m-gal-row2, .m-gal-row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-gal-row1, .m-gal-row2 {
    margin-bottom: 22px;
}

.img5-1, .img5-2, .img5-3, .img5-7, .img5-8, .img5-9 {
    width: 32%;
    object-fit: cover;
}

.img5-4, .img5-6 {
    width: 37%;
    object-fit: cover;
}

.img5-5 {
    width: 21%;
    object-fit: cover;
}



@media (max-width: 576px) {

    .m-info-title h1 { font-size: 1.8em; }

    .m-gal-row1, .m-gal-row2, .m-gal-row3 {
        flex-direction: column;
        margin-bottom: 13px;
    }

    .img5-1, .img5-2, .img5-3, .img5-4, .img5-5, .img5-6, .img5-7, .img5-8, .img5-9 {
        width: 100%;
    }

    .img5-1, .img5-2, .img5-4, .img5-5, .img5-7, .img5-8 {
        margin-bottom: 13px;
    }
}