
.m-container {

    background-color: #000000;
    margin: 31px 5% 31px 5%;
    padding: 13px;
    display: flex;
    flex-direction: column;
}

.m-title {
    padding: 8px;
}

.m-title h1 {

    margin: 0%;
    font-size: 3em;
    text-align: center;
}

.m-info {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.m-info-map {
    margin: 0% auto 0% auto;
    width: 40%;
}

.m-info-map iframe {

    width: 100%;
    height: 350px;
}

.m-info-tx {

    margin: 0% auto 0% auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-info-tx-direction, .m-info-tx-contact  {

    margin: auto;
    font-size: 1.3em;
    text-align: center;
}



/* RESPONSIVE */

@media (max-width: 1200px) {

    .m-info-map iframe {

        height: 300px;
    }

    .m-info-tx-direction, .m-info-tx-contact  {

        font-size: 1.1em;
    }
}

@media (max-width: 992px) {

    .m-container { margin: 22px 5% 22px 5%; }

    .m-info-map iframe { height: 250px; }

    .m-info-tx-direction, .m-info-tx-contact  { font-size: 0.9em; }
}

@media (max-width: 768px) {

    .m-container { padding: 6px; }

    .m-title { padding: 4px; }
    .m-title h1 { font-size: 2.5em; }

    .m-info { padding: 4px; }
    .m-info-map iframe { height: 175px; }

    .m-info-tx-direction, .m-info-tx-contact  {

        font-size: 0.6em;
    }
}

@media (max-width: 576px) {

    .m-container { margin: 13px 5% 13px 5%; }

    .m-title h1 { font-size: 1.8em; }

    .m-info { flex-direction: column; }

    .m-info-map { width: 100%; }

    .m-info-tx { width: 100%; }

    .m-info-tx-direction, .m-info-tx-contact  {

        font-size: 1em;
    }
}

@media (max-width: 480px) {

    .m-info-tx { flex-direction: column; }
}