
.m-container {

    margin: 31px 5% 31px 5%;
    background-color: #000000;
    padding: 13px;
}

.m-title {

    padding: 7px;
    margin-bottom: 13px;
}

.m-title h1 {

    margin: 0%;
    text-align: center;
    font-size: 3em;
}

.m-description {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-description p {

    text-align: center;
    font-size: 1.5em;
}

.m-description a {

    margin: 13px auto 13px auto;
    padding: 3px 9px 3px 9px;
    font-size: 1.3em;
    border-radius: 8px;
    text-align: center;
    background-color: #F5DCB2;
    color: #000000;
}

.m-description a:hover {
    background-color: #b69a6a;
    color: #FFF;
    text-decoration: none;
}



@media (max-width: 992px) {

    .m-container { padding: 7px; }

    .m-title h1 { font-size: 2.3em; }

    .m-description p { font-size: 1.1em; }

    .m-description a { 
        
        margin: 7px auto 7px auto;
        font-size: 1em;
        border-radius: 6px;
    }
}

@media (max-width: 768px) {

    .m-title h1 { font-size: 1.8em; }

    .m-description p { font-size: 0.8em; }

    .m-description a { font-size: 0.7em; }
}

@media (max-width: 576px) {}