html {  background-color: #383838;  }

body {

    background-color: #383838;
    color: #FFF;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: light;
    font-weight: 300;
}

.container-fluid {  padding: 0px;   }

/* HEADER */

header {

    background-color: #575757;
    display: flex;
    justify-content: center;
}

.h-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.h-title {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}

.h-brand {

    display: flex;
    flex-direction: row;
}

.h-brand-img img {

    max-height: 90px;
    padding-bottom: 10px;
}

.h-brand-title {

    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.h-brand-title-tx {

    margin-top: auto;
    margin-bottom: 0px;
    font-size: 3.5em;
}

.h-brand-title-tx span {    font-size: 0.5em;   }

/*---------------------*/
/* NAVIGATION BAR */

#h-nav {

    background-color: #8B311D;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

#h-nav a {

    width: 20%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#h-nav a:hover {
    
    background-color: #AD3F27;
}

#h-nav a.active {
    
    background-color: #AD3F27;
}

#h-nav .icon { display: none; }

/*----------------------------------------------------------------------*/

/* FOOTER */

footer {

    background-color: #ffffff0e;
    color: #FFFFFF;
}

.f-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-dev {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.f-dev img {

    max-height: 150px;
    margin-top: auto;
    margin-bottom: auto;
}

.f-dev-info {

    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.f-dev-info p {

    text-align: center;
    font-size: 0.8em;
}

.f-dev-networks {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.f-dev-networks a { width: 25%; }

.f-dev-networks img {   max-height: 50px;   }

/*---------------------*/

.f-brand {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-brand p {    
    
    font-size: 0.9em;
    text-align: center; 
    margin-bottom: 8px;
}

.f-brand a {

    margin-left: auto;
    margin-right: auto;
}

.f-brand img {  max-height: 80px;  }

/*---------------------*/

.f-brand-data {

    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.f-brand-data p{

    text-align: center;
    margin-right: 20px;
}

/* RESPONSIVE */

@media (max-width: 1200px) {

    .h-brand-title-tx { font-size: 3em; }
    .h-brand-title-tx span { font-size: 0.44em; }

    .f-dev img { height: 125px; }
    .f-dev-info { margin-right: 20px; }
    .f-dev-info p { font-size: 0.6em; }
    .f-dev-networks img { height: 35px; }

    .f-brand p { font-size: 0.8em; }
    .f-brand img {  max-height: 60px;  }

    .f-brand-data { margin-right: 0px; }
    .f-brand-data p{ font-size: 0.8em; }
}

@media (max-width: 992px) {

    .h-brand-title-tx { font-size: 2.6em; }
    .h-brand-title-tx span { font-size: 0.4em; }
    .h-brand-img img { 
        padding-bottom: 5px; 
        height: 65px; 
    }
    #h-nav a {
        font-size: 0.8em; 
    }

    .f-dev img { height: 100px; }
    .f-dev-info { margin-right: 20px; }
    .f-dev-info p { font-size: 0.35em; }
    .f-dev-networks img { height: 30px; }

    .f-brand p { font-size: 0.7em; }
    .f-brand img {  max-height: 50px;  }

    .f-brand-data p{ font-size: 0.65em; }
}

@media (max-width: 768px) {

    .h-title {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .h-brand-title-tx { font-size: 2em; }
    .h-brand-title-tx span { font-size: 0.35em; }
    .h-brand-img img { height: 50px; }
    #h-nav a { 
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 0.7em; 
    }

    .f-dev img { height: 80px; }
    .f-dev-info { margin-right: 20px; }
    .f-dev-info p { font-size: 6px; }
    .f-dev-networks img { height: 25px; }

    .f-brand p { font-size: 0.6em; }
    .f-brand img {  max-height: 35px;  }

    .f-brand-data p{ font-size: 8px; }
}

@media (max-width: 576px) {

    .h-brand-title-tx { font-size: 1.6em; }
    .h-brand-title-tx span { font-size: 0.35em; }
    .h-brand-img img { height: 40px; }
    #h-nav a { 
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 0.7em; 
    }

    .f-dev img { height: 50px; }
    .f-dev-info { margin-right: 20px; }
    .f-dev-info p { 
        font-size: 4px;
        margin-bottom: 4px; }
    .f-dev-networks img { height: 15px; }

    .f-brand p { font-size: 6px; }
    .f-brand img {  max-height: 25px;  }

    .f-brand-data p{ font-size: 5px; }
}

@media (max-width: 480px) {

    .brand-second { display: none; }
    .h-title { justify-content: center; }

    .f-container { flex-direction: column-reverse; }

    .f-dev { 
        margin: 0px;
        flex-direction: column; 
    }
    .f-dev img { 
        max-height: 512px;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto; 
    }
    .f-dev-info { 
        margin-left: auto;
        margin-right: auto;
    }
    .f-dev-info p { 
        font-size: 0.9em;
        margin-bottom: 13px; }

    .f-dev-networks img { 
        
        width: 90%;
        height: auto; 
    }

    .f-brand p { 

        margin-top: 13px;
        margin-bottom: 13px;
        font-size: 1.1em; 
    }
    .f-brand a {
        
        display: flex;
        margin-bottom: 31px;
    }
    .f-brand img {  
        
        max-height: 512px;
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .f-brand-data { display: none; }
}