
main {

    display: flex;
    justify-content: center;
}

.m-container {

    background-color: #000000;
    margin-top: 31px;
    margin-bottom: 31px;
    padding: 10px;
    width: 90%;
}

.m-container img {

    width: 100%;
}

/* RESPONSIVE */

@media (max-width: 992px) {

    .m-container {
        margin-top: 22px;
        margin-bottom: 22px;
    }
}

@media (max-width: 768px) {

    .m-container {
        margin-top: 13px;
        margin-bottom: 13px;

        padding: 5px;
    }
}

@media (max-width: 576px) {

    .m-container {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}