
.m-container {
    margin: 31px 22px 31px 22px;
    padding: 13px;
    background-color: #000000;
    border-radius: 13px;
}

.m-top { margin-bottom: 31px; }

.m-top h1 {
    text-align: center;
    margin-top: 0px;
    font-size: 3em;
}

.m-top p {
    text-align: justify;
    font-size: 1.1em;
}